/* Form Styles */
#pet-info {
    margin-top: 3rem;
}

form {
    width: 550px;
    margin: 3rem 0 3rem 3rem;
    font-family: 'Quicksand', sans-serif;
}

fieldset {
    padding: 3rem 3rem 0 3rem;
    background-color: lightgray;
}

.two-col {
    overflow: hidden;
    width: 100%;
}

.two-col .col1,
.two-col .col2 {
    width: 45%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

label {
    display: block;
    margin: 5px;
    font-weight: bold;
}

#personal-info input {
    width: 100%;
    padding: .5rem;
}

#pet-info input {
    margin: 10px;
}

input[type="radio"] {
    margin: auto 1rem 1rem auto;
}

li {
    list-style-type: none;
}

textarea {
    display: block;
    height: 100px;
    margin-top: 10px;
    width: 100%;
}

select {
    margin-bottom: 10px;
    padding: .5rem;
}

input[type="submit"] {
    width: 40%;
    margin: 0 auto;
    display: block;
    padding: 0.5rem;
    font-size: 16px;
}

.reset {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
}

.error {
    display: block;
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;
}